<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" style="font-weight: 400; font-size: 1.4em; font-weight: bold;">Standorte</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
      debounce="700"
      placeholder="Suche nach Standorte, Straßen..."
      (ionChange)="onSearchChange($event)"
      animated>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!loading">
    <ion-list *ngIf="places?.length > 0">
      <ion-item *ngFor="let place of places" class="ion-margin-top">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>
          {{ place?.title }}
          <p>
            <ion-text>
              {{ place?.address }}
            </ion-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="loading" style="display: flex; height: 80vh; justify-content: center; align-items: center;">
    <span style="text-align: center; font-weight: 400px; font-size: 1.3em;">Keine Daten vorhanden.</span>
  </div>
</ion-content>