<ion-header>
  <ion-toolbar color="primary">
    <div style="text-align: center;margin: 15px;">
      <ion-label style="font-weight: 400; font-size: 1.4em; font-weight: bold;">Wetter</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-searchbar 
      [(ngModel)]="cityName"
      (ngModelChange) = "loadData()"
      class="searchBar"
      placeholder="Suche nach einer Stadt" 
      animated>
    </ion-searchbar>
  </div>

  <div *ngIf="!loading">
    <ion-card class="cardStyle">
      <ion-item>
        <ion-icon name="sunny-outline"></ion-icon>
        <span>
          <ion-label class="ion-label">Heutiger Wetterbericht:</ion-label>
        </span>
        <ion-label slot="end">{{ todayDate | date: "EEE dd MMM"}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="location"></ion-icon>
        <span>
          <ion-label class="ion-label">Stadt:</ion-label>
        </span>
        <ion-label slot="end">{{cityName}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="thermometer-outline"></ion-icon>
        <span>
          <ion-label class="ion-label" style="font-size: 1.8em;">{{ (weatherTemperature?.temp - 273.15).toFixed(0)}}°C</ion-label>
        </span>
        <img slot="end" [src]=icon>
      </ion-item>
    </ion-card>

    <ion-card class="cardStyle">
      <ion-item>
        <span>
          <ion-label class="ion-label">Maximale Temperatur: </ion-label>
        </span>
        <span slot="end">{{ (weatherTemperature.temp_max - 273.15).toFixed(0)}}°C</span>
      </ion-item>

      <ion-item>
        <span>
          <ion-label class="ion-label">Minimale Temperatur: </ion-label>
        </span>
        <span slot="end">{{ (weatherTemperature.temp_min - 273.15).toFixed(0)}}°C</span>
      </ion-item>

      <ion-item>
        <span>
          <ion-label class="ion-label">Luftfeuchtigkeit: </ion-label>
        </span>
        <span slot="end">{{ weatherTemperature.humidity }}%</span>
      </ion-item>
    </ion-card>
  </div>
  <div *ngIf="loading" style="display: flex; height: 80vh; justify-content: center; align-items: center;">
    <span style="text-align: center; font-weight: 400px; font-size: 1.3em;">Keine Daten vorhanden.</span>
  </div>
</ion-content>
